<!-- 		<title>Schedule Generator</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" /> -->
		<!--  <meta name="google-signin-client_id" content="173320350877-evj10cjs6durmcoij1vnubs9fkalg0i3.apps.googleusercontent.com">-->
		<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		
		<style>

			h1{
				text-align: center;
				font-size: 5em;
			}
			form{
				width: 60%;
				padding: 20px;
			}
			#main{
				margin-top: 20px;
				padding: 30px;
			}
			select{
				margin: 20px;
			}
			h2{
				text-align: center;
				font-size: 2em;
			}
			#wrapper{
				margin-bottom: 100px;
			}
		</style>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/0.0.11/push.min.js"></script>
		
		<!-- Wrapper -->
			<div id="wrapper">


					<div id="main">
						<h2>Input classes you would like to take:</h2>
						<div id = "form">
							<form id="classForm" method="POST" action="query">
								<input type="hidden" id="myuser" name="myuser" value="">
								<select name="course1" id="course1">
									<option value="None">None</option>
									<option value="CSCI-102L">CSCI 102L</option>
									<option value="CSCI-103L">CSCI 103L</option>
									<option value="CSCI-104L">CSCI 104L</option>
									<option value="CSCI-109">CSCI 109</option>
									<option value="CSCI-170">CSCI 170</option>
									<option value="CSCI-201">CSCI 201</option>
									<option value="CSCI-270">CSCI 270</option>
									<option value="CSCI-280">CSCI 280</option>
									<option value="CSCI-281">CSCI 281</option>
									<option value="CSCI-310">CSCI 310</option>
									<option value="CSCI-350">CSCI 350</option>
									<option value="CSCI-353">CSCI 353</option>
									<option value="CSCI-356">CSCI 356</option>
									<option value="CSCI-360">CSCI 360</option>
									<option value="CSCI-368">CSCI 368</option>
									<option value="CSCI-380">CSCI 380</option>
									<option value="CSCI-401">CSCI 401</option>
									<option value="CSCI-402">CSCI 402</option>
									<option value="CSCI-404">CSCI 404</option>
									<option value="CSCI-420">CSCI 420</option>
									<option value="CSCI-423">CSCI 423</option>
									<option value="CSCI-435">CSCI 435</option>
									<option value="CSCI-439">CSCI 439</option>
									<option value="CSCI-445L">CSCI 445L</option>
									<option value="CSCI-450">CSCI 450</option>
									<option value="CSCI-452">CSCI 452</option>
									<option value="CSCI-455x">CSCI 455x</option>
									<option value="CSCI-457">CSCI 457</option>
									<option value="CSCI-485">CSCI 485</option>
									<option value="CSCI-487">CSCI 487</option>
									<option value="CSCI-490X">CSCI 490X</option>
									<option value="CSCI-491bL">CSCI 491bL</option>
									<option value="CSCI-495">CSCI 495</option>
									<option value="PHYS-151Lg">PHYS-151Lg</option>
									<option value="PHYS-152L">PHYS-152L</option>
									<option value="PHYS-153L">PHYS-153L</option>
									<option value="PHYS-161Lg">PHYS-161Lg</option>
									<option value="PHYS-163L">PHYS-163L</option>
									<option value="MATH-125g">MATH-125g</option>
									<option value="MATH-126g">MATH-126g</option>
									<option value="MATH-129">MATH-129</option>
									<option value="MATH-225">MATH-225</option>
									<option value="MATH-226g">MATH-226g</option>
									<option value="MATH-229">MATH-229</option>
									<option value="MATH-407">MATH-407</option>
									<option value="WRIT-340">WRIT-340</option>
								</select>
								<select name="course2" id="course2">
									<option value="None">None</option>
									<option value="CSCI-102L">CSCI 102L</option>
									<option value="CSCI-103L">CSCI 103L</option>
									<option value="CSCI-104L">CSCI 104L</option>
									<option value="CSCI-109">CSCI 109</option>
									<option value="CSCI-170">CSCI 170</option>
									<option value="CSCI-201">CSCI 201</option>
									<option value="CSCI-270">CSCI 270</option>
									<option value="CSCI-280">CSCI 280</option>
									<option value="CSCI-281">CSCI 281</option>
									<option value="CSCI-310">CSCI 310</option>
									<option value="CSCI-350">CSCI 350</option>
									<option value="CSCI-353">CSCI 353</option>
									<option value="CSCI-356">CSCI 356</option>
									<option value="CSCI-360">CSCI 360</option>
									<option value="CSCI-368">CSCI 368</option>
									<option value="CSCI-380">CSCI 380</option>
									<option value="CSCI-401">CSCI 401</option>
									<option value="CSCI-402">CSCI 402</option>
									<option value="CSCI-404">CSCI 404</option>
									<option value="CSCI-420">CSCI 420</option>
									<option value="CSCI-423">CSCI 423</option>
									<option value="CSCI-435">CSCI 435</option>
									<option value="CSCI-439">CSCI 439</option>
									<option value="CSCI-445L">CSCI 445L</option>
									<option value="CSCI-450">CSCI 450</option>
									<option value="CSCI-452">CSCI 452</option>
									<option value="CSCI-455x">CSCI 455x</option>
									<option value="CSCI-457">CSCI 457</option>
									<option value="CSCI-485">CSCI 485</option>
									<option value="CSCI-487">CSCI 487</option>
									<option value="CSCI-490X">CSCI 490X</option>
									<option value="CSCI-491bL">CSCI 491bL</option>
									<option value="CSCI-495">CSCI 495</option>
									<option value="PHYS-151Lg">PHYS-151Lg</option>
									<option value="PHYS-152L">PHYS-152L</option>
									<option value="PHYS-153L">PHYS-153L</option>
									<option value="PHYS-161Lg">PHYS-161Lg</option>
									<option value="PHYS-163L">PHYS-163L</option>
									<option value="MATH-125g">MATH-125g</option>
									<option value="MATH-126g">MATH-126g</option>
									<option value="MATH-129">MATH-129</option>
									<option value="MATH-225">MATH-225</option>
									<option value="MATH-226g">MATH-226g</option>
									<option value="MATH-229">MATH-229</option>
									<option value="MATH-407">MATH-407</option>
									<option value="WRIT-340">WRIT-340</option>
								</select>
								<select name="course3" id="course3">
									<option value="None">None</option>
									<option value="CSCI-102L">CSCI 102L</option>
									<option value="CSCI-103L">CSCI 103L</option>
									<option value="CSCI-104L">CSCI 104L</option>
									<option value="CSCI-109">CSCI 109</option>
									<option value="CSCI-170">CSCI 170</option>
									<option value="CSCI-201">CSCI 201</option>
									<option value="CSCI-270">CSCI 270</option>
									<option value="CSCI-280">CSCI 280</option>
									<option value="CSCI-281">CSCI 281</option>
									<option value="CSCI-310">CSCI 310</option>
									<option value="CSCI-350">CSCI 350</option>
									<option value="CSCI-353">CSCI 353</option>
									<option value="CSCI-356">CSCI 356</option>
									<option value="CSCI-360">CSCI 360</option>
									<option value="CSCI-368">CSCI 368</option>
									<option value="CSCI-380">CSCI 380</option>
									<option value="CSCI-401">CSCI 401</option>
									<option value="CSCI-402">CSCI 402</option>
									<option value="CSCI-404">CSCI 404</option>
									<option value="CSCI-420">CSCI 420</option>
									<option value="CSCI-423">CSCI 423</option>
									<option value="CSCI-435">CSCI 435</option>
									<option value="CSCI-439">CSCI 439</option>
									<option value="CSCI-445L">CSCI 445L</option>
									<option value="CSCI-450">CSCI 450</option>
									<option value="CSCI-452">CSCI 452</option>
									<option value="CSCI-455x">CSCI 455x</option>
									<option value="CSCI-457">CSCI 457</option>
									<option value="CSCI-485">CSCI 485</option>
									<option value="CSCI-487">CSCI 487</option>
									<option value="CSCI-490X">CSCI 490X</option>
									<option value="CSCI-491bL">CSCI 491bL</option>
									<option value="CSCI-495">CSCI 495</option>
									<option value="PHYS-151Lg">PHYS-151Lg</option>
									<option value="PHYS-152L">PHYS-152L</option>
									<option value="PHYS-153L">PHYS-153L</option>
									<option value="PHYS-161Lg">PHYS-161Lg</option>
									<option value="PHYS-163L">PHYS-163L</option>
									<option value="MATH-125g">MATH-125g</option>
									<option value="MATH-126g">MATH-126g</option>
									<option value="MATH-129">MATH-129</option>
									<option value="MATH-225">MATH-225</option>
									<option value="MATH-226g">MATH-226g</option>
									<option value="MATH-229">MATH-229</option>
									<option value="MATH-407">MATH-407</option>
									<option value="WRIT-340">WRIT-340</option>
								</select>
								<select name="course4" id="course4">
									<option value="None">None</option>
									<option value="CSCI-102L">CSCI 102L</option>
									<option value="CSCI-103L">CSCI 103L</option>
									<option value="CSCI-104L">CSCI 104L</option>
									<option value="CSCI-109">CSCI 109</option>
									<option value="CSCI-170">CSCI 170</option>
									<option value="CSCI-201">CSCI 201</option>
									<option value="CSCI-270">CSCI 270</option>
									<option value="CSCI-280">CSCI 280</option>
									<option value="CSCI-281">CSCI 281</option>
									<option value="CSCI-310">CSCI 310</option>
									<option value="CSCI-350">CSCI 350</option>
									<option value="CSCI-353">CSCI 353</option>
									<option value="CSCI-356">CSCI 356</option>
									<option value="CSCI-360">CSCI 360</option>
									<option value="CSCI-368">CSCI 368</option>
									<option value="CSCI-380">CSCI 380</option>
									<option value="CSCI-401">CSCI 401</option>
									<option value="CSCI-402">CSCI 402</option>
									<option value="CSCI-404">CSCI 404</option>
									<option value="CSCI-420">CSCI 420</option>
									<option value="CSCI-423">CSCI 423</option>
									<option value="CSCI-435">CSCI 435</option>
									<option value="CSCI-439">CSCI 439</option>
									<option value="CSCI-445L">CSCI 445L</option>
									<option value="CSCI-450">CSCI 450</option>
									<option value="CSCI-452">CSCI 452</option>
									<option value="CSCI-455x">CSCI 455x</option>
									<option value="CSCI-457">CSCI 457</option>
									<option value="CSCI-485">CSCI 485</option>
									<option value="CSCI-487">CSCI 487</option>
									<option value="CSCI-490X">CSCI 490X</option>
									<option value="CSCI-491bL">CSCI 491bL</option>
									<option value="CSCI-495">CSCI 495</option>
									<option value="PHYS-151Lg">PHYS-151Lg</option>
									<option value="PHYS-152L">PHYS-152L</option>
									<option value="PHYS-153L">PHYS-153L</option>
									<option value="PHYS-161Lg">PHYS-161Lg</option>
									<option value="PHYS-163L">PHYS-163L</option>
									<option value="MATH-125g">MATH-125g</option>
									<option value="MATH-126g">MATH-126g</option>
									<option value="MATH-129">MATH-129</option>
									<option value="MATH-225">MATH-225</option>
									<option value="MATH-226g">MATH-226g</option>
									<option value="MATH-229">MATH-229</option>
									<option value="MATH-407">MATH-407</option>
									<option value="WRIT-340">WRIT-340</option>
								</select>
								<select name="course5" id="course5">
									<option value="None">None</option>
									<option value="CSCI-102L">CSCI 102L</option>
									<option value="CSCI-103L">CSCI 103L</option>
									<option value="CSCI-104L">CSCI 104L</option>
									<option value="CSCI-109">CSCI 109</option>
									<option value="CSCI-170">CSCI 170</option>
									<option value="CSCI-201">CSCI 201</option>
									<option value="CSCI-270">CSCI 270</option>
									<option value="CSCI-280">CSCI 280</option>
									<option value="CSCI-281">CSCI 281</option>
									<option value="CSCI-310">CSCI 310</option>
									<option value="CSCI-350">CSCI 350</option>
									<option value="CSCI-353">CSCI 353</option>
									<option value="CSCI-356">CSCI 356</option>
									<option value="CSCI-360">CSCI 360</option>
									<option value="CSCI-368">CSCI 368</option>
									<option value="CSCI-380">CSCI 380</option>
									<option value="CSCI-401">CSCI 401</option>
									<option value="CSCI-402">CSCI 402</option>
									<option value="CSCI-404">CSCI 404</option>
									<option value="CSCI-420">CSCI 420</option>
									<option value="CSCI-423">CSCI 423</option>
									<option value="CSCI-435">CSCI 435</option>
									<option value="CSCI-439">CSCI 439</option>
									<option value="CSCI-445L">CSCI 445L</option>
									<option value="CSCI-450">CSCI 450</option>
									<option value="CSCI-452">CSCI 452</option>
									<option value="CSCI-455x">CSCI 455x</option>
									<option value="CSCI-457">CSCI 457</option>
									<option value="CSCI-485">CSCI 485</option>
									<option value="CSCI-487">CSCI 487</option>
									<option value="CSCI-490X">CSCI 490X</option>
									<option value="CSCI-491bL">CSCI 491bL</option>
									<option value="CSCI-495">CSCI 495</option>
									<option value="PHYS-151Lg">PHYS-151Lg</option>
									<option value="PHYS-152L">PHYS-152L</option>
									<option value="PHYS-153L">PHYS-153L</option>
									<option value="PHYS-161Lg">PHYS-161Lg</option>
									<option value="PHYS-163L">PHYS-163L</option>
									<option value="MATH-125g">MATH-125g</option>
									<option value="MATH-126g">MATH-126g</option>
									<option value="MATH-129">MATH-129</option>
									<option value="MATH-225">MATH-225</option>
									<option value="MATH-226g">MATH-226g</option>
									<option value="MATH-229">MATH-229</option>
									<option value="MATH-407">MATH-407</option>
									<option value="WRIT-130">WRIT-340</option>
								</select>
								<button type="submit" {{action "submit"}}>
									Generate Schedules
								</button>
<!-- 								<button type="submit">Generate Schedules</button>
 -->							</form>
						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
<!-- </div>
 -->
{{outlet}}